 * {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
  .main {
   /*  background-image:url(COVER.PNG); */  
    width: auto;
    height:700px;
    background-size:cover;
    background-position:center;
    padding: 2px;
} 

.menu-bar{
    /*background: rgb(0,100,0);*/
    /*  background: #54e4da;*/
     background: rgba(0, 0, 0, 0.712);
    text-align: center;
 }
.menu-bar ul {
        display:inline-flex;
        list-style:none;
        color:#fff;
 }
.menu-bar ul li{
    width:120px;
    margin:15px;
    padding:15px;
    
}
 .menu-bar ul li a {
        text-decoration: none;
        color: #fff;
    }

    .menu-bar ul li :hover {
        /*background: #2bab0d;*/
        background: #5bafa9;
        border-radius: 2px;
        margin-left:1px;
        padding-top: 15px;
        padding-right: 10px;
        padding-bottom: 15px;
        border-radius: 3px;
    }
.dropdown{
    display:none;
}

.menu-bar ul li:hover .dropdown {
    display: block;
    position:absolute;
   /* background:rgb(0,100,0); */
     background: #5bafa9;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .dropdown ul{
    display: block;
    margin:10px;
}
.menu-bar ul li:hover .dropdown ul li{
    background-color:#2bab0d;
    width:150px;
    padding:10px;
    border-bottom:1px dotted #fff;
    background:transparent;
    border-radius:0px;
    text-align:left;
}
.menu-bar ul li:hover .dropdown ul li:last-child{
    border-bottom:none;
}


/* header styling  */
header{
    height:250px;
    text-align: center;
    line-height: 80px; 
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 80px;
    background-color: #bcdddb;
    /*display: flex;*/
    background-image:url(COVER.PNG); 
}
.mh{
    width: 100px;
    height: 100px;
   top: 70px; 
    position: relative;
   /* float: left; */
    margin: 2px;
  /* display: flex; */

    border: solid black;
    background:#ffffff;
    
}
.Fcontainer{
    display: flex;
   
}
.fcontainer{
 display: flex;
 padding-left: 80px;
}

.f2container{
    display: flex;
    padding-left: 50px;
}


/* cards styling  */

.mcard{
    margin: 10px;
    padding: 5px;
    margin-left: 100px;
}


.mcard1{
    margin: 10px;
    padding: 5px;
    margin-left: 300px;
    
   
}
.Mycard{
    display: flex;
    position: relative;
   margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
 margin-bottom: 20px;
     background: rgb(255, 229, 189); 

}

.Mycard1{
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
     /*background: rgb(255, 229, 189); */
    
    background: rgb(202, 243, 222);
}

.Mycard2{
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
     /*background: rgb(255, 229, 189); */
  
    background: #fbeec1;
}
.ParMycard{
    border: solid black;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background: rgb(51, 45, 45)
}
